.type {
    position: absolute;
    padding: 2px 12px;
    border-radius: var(--br-10);
    bottom: 32px;
    left: 32px;
}
.pve {
    background-color: var(--blue-2);
    color: var(--white);
}
.pvp {
    background-color: var(--white);
    color: var(--blue-1);
}